{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "react-app", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint","@emotion"],
  "root": true
}
